In [3]:
print ('Bye')

Bye

In [4]:
print ('Hello')
print ('Bye')
print ('I love blue')

Hello
Bye
I love blue

In [5]:
print ('Today is a good day')
print ('Today the sun is up')
print ('To execute a cell press SHIFT+ENTER')

Today is a good day
Today the sun is up
To execute a cell press SHIFT+ENTER

In [9]:
print ('My name is Suhail')
print ('I work as a Data Scientist')
print ('I love the color blue')

My name is Suhail
I work as a Data Scientist
I love the color blue

In [14]:
print ("I'm Arpit")

I'm Arpit

In [13]:
print ("I forgot my notebook")
print ('I forgot my notebook')

I forgot my notebook
I forgot my notebook

In [17]:
print ("Hello. We'd love a cup of tea")
print ('She said "hello" and left')

Hello. We'd love a cup of tea
She said "hello" and left

In [18]:
print ('I\'m Arpit')

I'm Arpit

In [19]:
print ("She said \"hello\" and left")

She said "hello" and left

In [20]:
print (100)

100

In [21]:
print (3.14)

3.14

In [23]:
print ('suhail')

suhail

In [26]:
print ('my','name','is',100)

my name is 100

In [27]:
print ('my name is 100')

my name is 100

In [28]:
print (100)

100

In [29]:
name = 'Suhail'

In [30]:
name

'Suhail'

In [31]:
my_fav_color = 'black'

In [32]:
my_fav_color

'black'

In [33]:
val_of_pi = 3.14

In [34]:
val_of_pi

3.14

In [40]:
name = 'Kaish'
my_fav_color = 'orange'
print ('My name is', name, 'and my favourite color is', my_fav_color)

My name is Kaish and my favourite color is orange

In [41]:
my_fav_subject = 'Mathematics'
my_fav_sports = 'Football'

print('My favourite subject is',my_fav_subject,'and my fav sports is', my_fav_sports)

My favourite subject is Mathematics and my fav sports is Football

In [45]:
type ('Suhail')

str

In [48]:
type (-13)

int

In [49]:
type (3.14)

float

In [50]:
type (10)

int

In [51]:
type (10.0)

float

In [52]:
type ('Anick')

str

In [53]:
type (100000000)

int

In [54]:
type (130.01)

float

In [55]:
type (0.01)

float

In [56]:
my_name = 'suhail'
type (my_name)

str

In [57]:
is_it_raining = True
type (is_it_raining)

bool

In [58]:
is_it_raining = False
type (is_it_raining)

bool

In [59]:
place = 'London'
type (place)

str

In [60]:
10 + 10

20

In [61]:
1000 / 10

100.0

In [63]:
10 + 10 + 20 + 3.14

43.14

In [64]:
10 + 10 + 10 + 0.0

30.0

In [68]:
True + 10 + True + 3.14

15.14

In [70]:
# automatic type casting
True + False + 1 + 0.0

2.0

In [71]:
'apple' + 'banana'

'applebanana'

In [73]:
s1 = 99
s2 = 98
s3 = 70
s4 = 40

total = s1 + s2 + s3 + s4
print (total)

307

In [75]:
fridge = 15
microwave = 7
tv = 45
laptop = 50

# 2 fridges, 1 tv and 2 laptops
total = fridge + fridge + tv + laptop + laptop
print ('The total bill amount is', total,'thousand Rupees')

The total bill amount is 175 thousand Rupees

In [78]:
2000total_percentage = 80.7

SyntaxError: invalid syntax (<ipython-input-78-558dd3c5421a>, line 1)

In [77]:
t2otal_pe2rcent2age2 = 80.7

In [83]:
my name = 'Suhail'

SyntaxError: invalid syntax (<ipython-input-83-93ad3f6b4e25>, line 1)

In [88]:
my_name = 'suhail'

SyntaxError: cannot assign to operator (<ipython-input-88-74b97ca44bc9>, line 1)

In [89]:
print ('hello')

hello

In [1]:
print ('hello')

hello

In [2]:
sum1 = 100

In [3]:
100 - 100

0

In [4]:
50  - 10

40

In [5]:
a = 50
b = 10
c = 10
res = a - b - c
print (res)

30

In [6]:
# multiplication operator
10 * 8

80

In [7]:
100 * 100

10000

In [8]:
fridge = 15
microwave = 7
tv = 45
laptop = 50

# 2 fridges, 1 tv and 2 laptops
total = 2 * fridge + tv + 2 * laptop
print ('The total bill amount is', total,'thousand Rupees')

The total bill amount is 175 thousand Rupees

In [9]:
100 / 10

10.0

In [10]:
num1 = 10000
num2 = 500
res = num1 / num2
print (res)

20.0

In [12]:
eng = 70
phy = 60
chem = 80
bio = 95
math = 80

total_marks = eng + phy + chem + bio + math
percentage = (total_marks / 500) * 100

print ('Total marks secured are', total_marks)
print ('The percentage is', percentage)

Total marks secured are 385
The percentage is 77.0