In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('car_evaluation.csv')
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

# Label Encoding

In [4]:
from sklearn.preprocessing import LabelEncoder
le  = LabelEncoder()
df.buying = le.fit_transform(df.buying)
df.maint = le.fit_transform(df.maint)
df.lug_boot = le.fit_transform(df.lug_boot)
df.safety = le.fit_transform(df.safety)

In [6]:
df.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

In [7]:
X = df.iloc[:,:-1]
y = df.outcome

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [13]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [14]:
y_predict = model.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score, classification_report

In [15]:
accuracy_score(y_test, y_predict)

0.9942196531791907

In [16]:
pd.crosstab(y_test, y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       63     1      0      0
good       0    13      0      0
unacc      0     0    251      0
vgood      1     0      0     17

In [18]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         acc       0.98      0.98      0.98        64
        good       0.93      1.00      0.96        13
       unacc       1.00      1.00      1.00       251
       vgood       1.00      0.94      0.97        18

    accuracy                           0.99       346
   macro avg       0.98      0.98      0.98       346
weighted avg       0.99      0.99      0.99       346