In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spam.csv', encoding='latin-1')
df.head()

   type                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.isnull().sum()

type     0
email    0
dtype: int64

In [4]:
df.type.value_counts()

ham     4825
spam     747
Name: type, dtype: int64

# TF-IDF

In [7]:
X = df.email
y = df.type

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
tfidf = TfidfVectorizer()
X_tfidf = tfidf.fit_transform(X)

In [9]:
X.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: email, dtype: object

In [10]:
X_tfidf.toarray()[:5]

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# Train test split

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_tfidf, y, test_size=0.2, random_state=33)

# Train the model

In [12]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB()
model.fit(X_train, y_train)

BernoulliNB()

# Evaluate

In [17]:
from sklearn.metrics import accuracy_score, classification_report

In [14]:
y_predict = model.predict(X_test)

In [15]:
accuracy_score(y_test, y_predict)

0.9811659192825112

In [16]:
pd.crosstab(y_test, y_predict)

col_0  ham  spam
type
ham    968     2
spam    19   126

In [18]:
print (classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99       970
        spam       0.98      0.87      0.92       145

    accuracy                           0.98      1115
   macro avg       0.98      0.93      0.96      1115
weighted avg       0.98      0.98      0.98      1115