In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('car_evaluation.csv')
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [3]:
df.buying.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [4]:
dict_buy = {
    'low': 0,
    'med': 1,
    'high': 2,
    'vhigh': 3
}
df.buying = df.buying.map(dict_buy)

In [6]:
df.head()

   buying  maint  doors  persons lug_boot safety outcome
0       3  vhigh      2        2    small    low   unacc
1       3  vhigh      2        2    small    med   unacc
2       3  vhigh      2        2    small   high   unacc
3       3  vhigh      2        2      med    low   unacc
4       3  vhigh      2        2      med    med   unacc

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.maint = le.fit_transform(df.maint)

In [8]:
df.head()

   buying  maint  doors  persons lug_boot safety outcome
0       3      3      2        2    small    low   unacc
1       3      3      2        2    small    med   unacc
2       3      3      2        2    small   high   unacc
3       3      3      2        2      med    low   unacc
4       3      3      2        2      med    med   unacc

In [10]:
X = df.iloc[:,:-1]

In [15]:
X.lug_boot.unique()

array(['small', 'med', 'big'], dtype=object)

In [16]:
X.safety.unique()

array(['low', 'med', 'high'], dtype=object)

In [19]:
X = pd.get_dummies(X, drop_first=True)

In [20]:
X.head()

,buying,maint,doors,persons,lug_boot_med,lug_boot_small,safety_low,safety_med
0,3,3,2,2,0,1,1,0
1,3,3,2,2,0,1,0,1
2,3,3,2,2,0,1,0,0
3,3,3,2,2,1,0,1,0
4,3,3,2,2,1,0,0,1