In [1]:
pwd

'D:\\'

In [2]:
import pandas as pd

In [18]:
df = pd.read_csv('mtcarsmissing.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,22.8,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,NaN,3.0,1
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2

In [19]:
df.shape

(32, 12)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     29 non-null     float64
 3   disp    30 non-null     float64
 4   hp      30 non-null     float64
 5   drat    31 non-null     float64
 6   wt      30 non-null     float64
 7   qsec    30 non-null     float64
 8   vs      31 non-null     float64
 9   am      31 non-null     float64
 10  gear    31 non-null     float64
 11  carb    32 non-null     int64
dtypes: float64(10), int64(1), object(1)
memory usage: 3.1+ KB

In [21]:
df.isnull().sum()

model    0
mpg      0
cyl      3
disp     2
hp       2
drat     1
wt       2
qsec     2
vs       1
am       1
gear     1
carb     0
dtype: int64

# Fillna

In [22]:
df.fillna({
    'cyl': 4,
    'hp': 150,
    'disp': 120,
    'wt': 2.0,
    'qsec': 16.0,
    'gear': 4,
    'vs':0,
    'am': 1,
    'drat': 3.9
})

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,22.8,4.0,120.0,150.0,3.90,2.000,16.00,1.0,1.0,4.0,1
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,1.0,3.0,1
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1
6,Duster 360,14.3,4.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,4.0,4
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,16.00,1.0,0.0,4.0,4
11,Merc 450SE,16.4,8.0,275.8,150.0,3.07,4.070,17.40,0.0,0.0,3.0,3
12,Merc 450SL,17.3,8.0,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3
13,Merc 450SLC,15.2,8.0,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3
14,Cadillac Fleetwood,10.4,8.0,120.0,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4
15,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4
16,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4
17,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,19.47,1.0,1.0,4.0,1
18,Honda Civic,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4.0,2
19,Toyota Corolla,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4.0,1
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,2.000,20.01,1.0,0.0,3.0,1
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1
26,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2

# Forward Fill

In [23]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,22.8,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,NaN,3.0,1
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2

In [25]:
df.fillna(method='ffill').head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,22.8,6.0,160.0,110.0,3.90,2.875,17.02,1.0,1.0,4.0,1
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,1.0,3.0,1
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2

# Backward Fill

In [27]:
df.fillna(method='bfill').head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,22.8,6.0,258.0,110.0,3.08,3.215,19.44,1.0,1.0,4.0,1
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2

# Replace missing data with average

In [29]:
df.fillna(df.mean())

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.000000,160.00,110.000000,3.900000,2.620000,16.460000,0.000000,1.000000,4.000000,4
1,Mazda RX4 Wag,21.0,6.000000,160.00,110.000000,3.900000,2.875000,17.020000,0.000000,1.000000,4.000000,4
2,Datsun 710,22.8,6.275862,226.77,147.366667,3.588387,3.272233,17.788333,1.000000,1.000000,4.000000,1
3,Hornet 4 Drive,21.4,6.000000,258.00,110.000000,3.080000,3.215000,19.440000,1.000000,0.419355,3.000000,1
4,Hornet Sportabout,18.7,8.000000,360.00,175.000000,3.150000,3.440000,17.020000,0.000000,0.000000,3.000000,2
5,Valiant,18.1,6.000000,225.00,105.000000,2.760000,3.460000,20.220000,1.000000,0.000000,3.000000,1
6,Duster 360,14.3,6.275862,360.00,245.000000,3.210000,3.570000,15.840000,0.451613,0.000000,3.709677,4
7,Merc 240D,24.4,4.000000,146.70,62.000000,3.690000,3.190000,20.000000,1.000000,0.000000,4.000000,2
8,Merc 230,22.8,4.000000,140.80,95.000000,3.920000,3.150000,22.900000,1.000000,0.000000,4.000000,2
9,Merc 280,19.2,6.000000,167.60,123.000000,3.920000,3.440000,18.300000,1.000000,0.000000,4.000000,4
10,Merc 280C,17.8,6.000000,167.60,123.000000,3.920000,3.440000,17.788333,1.000000,0.000000,4.000000,4
11,Merc 450SE,16.4,8.000000,275.80,147.366667,3.070000,4.070000,17.400000,0.000000,0.000000,3.000000,3
12,Merc 450SL,17.3,8.000000,275.80,180.000000,3.070000,3.730000,17.600000,0.000000,0.000000,3.000000,3
13,Merc 450SLC,15.2,8.000000,275.80,180.000000,3.070000,3.780000,18.000000,0.000000,0.000000,3.000000,3
14,Cadillac Fleetwood,10.4,8.000000,226.77,205.000000,2.930000,5.250000,17.980000,0.000000,0.000000,3.000000,4
15,Lincoln Continental,10.4,8.000000,460.00,215.000000,3.000000,5.424000,17.820000,0.000000,0.000000,3.000000,4
16,Chrysler Imperial,14.7,8.000000,440.00,230.000000,3.230000,5.345000,17.420000,0.000000,0.000000,3.000000,4
17,Fiat 128,32.4,6.275862,78.70,66.000000,4.080000,2.200000,19.470000,1.000000,1.000000,4.000000,1
18,Honda Civic,30.4,4.000000,75.70,52.000000,4.930000,1.615000,18.520000,1.000000,1.000000,4.000000,2
19,Toyota Corolla,33.9,4.000000,71.10,65.000000,4.220000,1.835000,19.900000,1.000000,1.000000,4.000000,1
20,Toyota Corona,21.5,4.000000,120.10,97.000000,3.700000,3.272233,20.010000,1.000000,0.000000,3.000000,1
21,Dodge Challenger,15.5,8.000000,318.00,150.000000,2.760000,3.520000,16.870000,0.000000,0.000000,3.000000,2
22,AMC Javelin,15.2,8.000000,304.00,150.000000,3.150000,3.435000,17.300000,0.000000,0.000000,3.000000,2
23,Camaro Z28,13.3,8.000000,350.00,245.000000,3.730000,3.840000,15.410000,0.000000,0.000000,3.000000,4
24,Pontiac Firebird,19.2,8.000000,400.00,175.000000,3.080000,3.845000,17.050000,0.000000,0.000000,3.000000,2
25,Fiat X1-9,27.3,4.000000,79.00,66.000000,4.080000,1.935000,18.900000,1.000000,1.000000,4.000000,1
26,Porsche 914-2,26.0,4.000000,120.30,91.000000,4.430000,2.140000,16.700000,0.000000,1.000000,5.000000,2
27,Lotus Europa,30.4,4.000000,95.10,113.000000,3.770000,1.513000,16.900000,1.000000,1.000000,5.000000,2
28,Ford Pantera L,15.8,8.000000,351.00,264.000000,4.220000,3.170000,14.500000,0.000000,1.000000,5.000000,4
29,Ferrari Dino,19.7,6.000000,145.00,175.000000,3.620000,2.770000,15.500000,0.000000,1.000000,5.000000,6
30,Maserati Bora,15.0,8.000000,301.00,335.000000,3.540000,3.570000,14.600000,0.000000,1.000000,5.000000,8
31,Volvo 142E,21.4,4.000000,121.00,109.000000,4.110000,2.780000,18.600000,1.000000,1.000000,4.000000,2

# Pandas Drop

In [30]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,22.8,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,NaN,3.0,1
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2

In [31]:
df.dropna()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4
12,Merc 450SL,17.3,8.0,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3
13,Merc 450SLC,15.2,8.0,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3
15,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4
16,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4
18,Honda Civic,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4.0,2
19,Toyota Corolla,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4.0,1
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1
26,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2

In [32]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,22.8,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,NaN,3.0,1
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1
6,Duster 360,14.3,NaN,360.0,245.0,3.21,3.570,15.84,NaN,0.0,NaN,4
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,NaN,1.0,0.0,4.0,4
11,Merc 450SE,16.4,8.0,275.8,NaN,3.07,4.070,17.40,0.0,0.0,3.0,3
12,Merc 450SL,17.3,8.0,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3
13,Merc 450SLC,15.2,8.0,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3
14,Cadillac Fleetwood,10.4,8.0,NaN,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4
15,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4
16,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4
17,Fiat 128,32.4,NaN,78.7,66.0,4.08,2.200,19.47,1.0,1.0,4.0,1
18,Honda Civic,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4.0,2
19,Toyota Corolla,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4.0,1
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,20.01,1.0,0.0,3.0,1
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1
26,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2

In [33]:
df.fillna(df.mean(), inplace=True)

In [34]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.000000,160.00,110.000000,3.900000,2.620000,16.460000,0.000000,1.000000,4.000000,4
1,Mazda RX4 Wag,21.0,6.000000,160.00,110.000000,3.900000,2.875000,17.020000,0.000000,1.000000,4.000000,4
2,Datsun 710,22.8,6.275862,226.77,147.366667,3.588387,3.272233,17.788333,1.000000,1.000000,4.000000,1
3,Hornet 4 Drive,21.4,6.000000,258.00,110.000000,3.080000,3.215000,19.440000,1.000000,0.419355,3.000000,1
4,Hornet Sportabout,18.7,8.000000,360.00,175.000000,3.150000,3.440000,17.020000,0.000000,0.000000,3.000000,2
5,Valiant,18.1,6.000000,225.00,105.000000,2.760000,3.460000,20.220000,1.000000,0.000000,3.000000,1
6,Duster 360,14.3,6.275862,360.00,245.000000,3.210000,3.570000,15.840000,0.451613,0.000000,3.709677,4
7,Merc 240D,24.4,4.000000,146.70,62.000000,3.690000,3.190000,20.000000,1.000000,0.000000,4.000000,2
8,Merc 230,22.8,4.000000,140.80,95.000000,3.920000,3.150000,22.900000,1.000000,0.000000,4.000000,2
9,Merc 280,19.2,6.000000,167.60,123.000000,3.920000,3.440000,18.300000,1.000000,0.000000,4.000000,4
10,Merc 280C,17.8,6.000000,167.60,123.000000,3.920000,3.440000,17.788333,1.000000,0.000000,4.000000,4
11,Merc 450SE,16.4,8.000000,275.80,147.366667,3.070000,4.070000,17.400000,0.000000,0.000000,3.000000,3
12,Merc 450SL,17.3,8.000000,275.80,180.000000,3.070000,3.730000,17.600000,0.000000,0.000000,3.000000,3
13,Merc 450SLC,15.2,8.000000,275.80,180.000000,3.070000,3.780000,18.000000,0.000000,0.000000,3.000000,3
14,Cadillac Fleetwood,10.4,8.000000,226.77,205.000000,2.930000,5.250000,17.980000,0.000000,0.000000,3.000000,4
15,Lincoln Continental,10.4,8.000000,460.00,215.000000,3.000000,5.424000,17.820000,0.000000,0.000000,3.000000,4
16,Chrysler Imperial,14.7,8.000000,440.00,230.000000,3.230000,5.345000,17.420000,0.000000,0.000000,3.000000,4
17,Fiat 128,32.4,6.275862,78.70,66.000000,4.080000,2.200000,19.470000,1.000000,1.000000,4.000000,1
18,Honda Civic,30.4,4.000000,75.70,52.000000,4.930000,1.615000,18.520000,1.000000,1.000000,4.000000,2
19,Toyota Corolla,33.9,4.000000,71.10,65.000000,4.220000,1.835000,19.900000,1.000000,1.000000,4.000000,1
20,Toyota Corona,21.5,4.000000,120.10,97.000000,3.700000,3.272233,20.010000,1.000000,0.000000,3.000000,1
21,Dodge Challenger,15.5,8.000000,318.00,150.000000,2.760000,3.520000,16.870000,0.000000,0.000000,3.000000,2
22,AMC Javelin,15.2,8.000000,304.00,150.000000,3.150000,3.435000,17.300000,0.000000,0.000000,3.000000,2
23,Camaro Z28,13.3,8.000000,350.00,245.000000,3.730000,3.840000,15.410000,0.000000,0.000000,3.000000,4
24,Pontiac Firebird,19.2,8.000000,400.00,175.000000,3.080000,3.845000,17.050000,0.000000,0.000000,3.000000,2
25,Fiat X1-9,27.3,4.000000,79.00,66.000000,4.080000,1.935000,18.900000,1.000000,1.000000,4.000000,1
26,Porsche 914-2,26.0,4.000000,120.30,91.000000,4.430000,2.140000,16.700000,0.000000,1.000000,5.000000,2
27,Lotus Europa,30.4,4.000000,95.10,113.000000,3.770000,1.513000,16.900000,1.000000,1.000000,5.000000,2
28,Ford Pantera L,15.8,8.000000,351.00,264.000000,4.220000,3.170000,14.500000,0.000000,1.000000,5.000000,4
29,Ferrari Dino,19.7,6.000000,145.00,175.000000,3.620000,2.770000,15.500000,0.000000,1.000000,5.000000,6
30,Maserati Bora,15.0,8.000000,301.00,335.000000,3.540000,3.570000,14.600000,0.000000,1.000000,5.000000,8
31,Volvo 142E,21.4,4.000000,121.00,109.000000,4.110000,2.780000,18.600000,1.000000,1.000000,4.000000,2