In [2]:
pwd

'D:\\'

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('car_evaluation.csv')
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [31]:
df.outcome.unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   outcome   1728 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

In [33]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [34]:
df.shape

(1728, 7)

In [35]:
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

# Ordinal Encoding

In [36]:
df.buying.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [37]:
buying_map = {
    'low': 0,
    'med': 1,
    'high': 2,
    'vhigh': 3
}

In [38]:
df.buying = df.buying.map(buying_map)
df.head()

   buying  maint  doors  persons lug_boot safety outcome
0       3  vhigh      2        2    small    low   unacc
1       3  vhigh      2        2    small    med   unacc
2       3  vhigh      2        2    small   high   unacc
3       3  vhigh      2        2      med    low   unacc
4       3  vhigh      2        2      med    med   unacc

In [39]:
df.maint.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [40]:
maint_map = {
    'low': 0,
    'med': 1,
    'high': 2,
    'vhigh': 3
}

In [41]:
df.maint = df.maint.map(maint_map)

In [42]:
df.head()

   buying  maint  doors  persons lug_boot safety outcome
0       3      3      2        2    small    low   unacc
1       3      3      2        2    small    med   unacc
2       3      3      2        2    small   high   unacc
3       3      3      2        2      med    low   unacc
4       3      3      2        2      med    med   unacc

In [43]:
df.lug_boot.unique()

array(['small', 'med', 'big'], dtype=object)

In [44]:
lug_boot_map = {
    'small': 0,
    'med': 1,
    'big': 2
}

In [45]:
df.lug_boot = df.lug_boot.map(lug_boot_map)

In [46]:
df.safety.unique()

array(['low', 'med', 'high'], dtype=object)

In [47]:
safety_map = {
    'low': 0,
    'med': 1,
    'high': 2
}

In [48]:
df.safety = df.safety.map(safety_map)

In [49]:
df.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         0       0   unacc
1       3      3      2        2         0       1   unacc
2       3      3      2        2         0       2   unacc
3       3      3      2        2         1       0   unacc
4       3      3      2        2         1       1   unacc

In [50]:
X = df.iloc[:,:-1]
y = df.outcome

In [51]:
from sklearn.model_selection import train_test_split

X_train , X_test, y_train, y_test = train_test_split(X, y , test_size=0.2)

In [120]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)

KNeighborsClassifier()

In [121]:
y_predict = model.predict(X_test)

In [122]:
from sklearn.metrics import accuracy_score, classification_report

In [123]:
accuracy_score(y_test, y_predict)

0.9450867052023122

In [124]:
pd.crosstab(y_test, y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       65     1      2      1
good       5     8      0      0
unacc      5     0    247      0
vgood      2     3      0      7

In [125]:
print (classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         acc       0.84      0.94      0.89        69
        good       0.67      0.62      0.64        13
       unacc       0.99      0.98      0.99       252
       vgood       0.88      0.58      0.70        12

    accuracy                           0.95       346
   macro avg       0.84      0.78      0.80       346
weighted avg       0.95      0.95      0.94       346